﻿<script id="Task" type="text/placeholder">
    <p>Измеритель: {7}</p>
    <table class="tg">
        <tr>
            <th class="tg-s6z2">Всего</th>
            <th class="tg-baqh">Оплата труда</th>
            <th class="tg-baqh">Эксплуатация<br>машин</th>
            <th class="tg-baqh">ЗП в ЭММ</th>
            <th class="tg-baqh">Материалы</th>
            <th class="tg-baqh">Затраты труда</th>
            <th class="tg-baqh">Затраты труда<br>машинистов</th>
        </tr>
        <tr>
            <td class="tg-4aw5">{0}</td>
            <td class="tg-4aw5">{1}</td>
            <td class="tg-4aw5">{2}</td>
            <td class="tg-4aw5">{3}<br></td>
            <td class="tg-4aw5">{4}</td>
            <td class="tg-4aw5">{5}<br></td>
            <td class="tg-4aw5">{6}</td>
        </tr>
    </table>
</script>
<script id="Material" type="text/placeholder">
    <table class="tg">
        <tr>
            <th class="tg-s6z2">Сметная</th>
            <th class="tg-baqh">Отпуск</th>
        </tr>
        <tr>
            <td class="tg-4aw5">{0}</td>
            <td class="tg-4aw5">{1}</td>
        </tr>
    </table>
</script>
<script id="Transport" type="text/placeholder">
    <table class="tg">
        <tr>
            <th class="tg-s6z2">1</th>
            <th class="tg-baqh">2</th>
        </tr>
        <tr>
            <td class="tg-4aw5">{0}</td>
            <td class="tg-4aw5">{1}</td>
        </tr>
    </table>
</script>
<div id="example" style="padding-right:3px">
    <select id="movies"
            style="width: 290px"
            data-role="dropdownlist"
            data-value-field="Value"
            data-text-field="Text"
            data-value-primitive="true"
            data-bind="value: bookid, source: listbook,events: { change: onChange }"></select>
    <div id="horizontal" style="height: 900px; width: 100%;">
        <div id="left-pane">
            <div class="pane-content">
                <div class="demo-section k-content">
                    <div id="treeview"></div>
                </div>
            </div>
        </div>
        <div id="vertical">
            <div id="top-pane">
                <div id="center-pane">
                    <div class="pane-content">
                        <div id="ListGrid">
                        </div>
                    </div>
                </div>
            </div>
            <div id="middle-pane">
                <div class="pane-content">
                    <div id="tabs">
                        <ul>
                            <li class="k-state-active">Состав работ</li>
                            <li>Ресурсы</li>
                            <li>Единичная стоимость</li>
                            <li>Поправки</li>
                        </ul>
                        <div>
                            <div id="tab1">
                                <div class="demo-section k-content wide" style="margin:0px;width:100%;">
                                    <input id="Law" data-bind="value: Law" class="k-textbox" readonly />
                                    <select id="Works" data-role="listbox"
                                            data-text-field="Name"
                                            data-value-field="WorkConsistId"
                                            data-connect-with="Works"
                                            data-bind="source: Works}"></select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="tab2">
                                <div id="gridDiv">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="tab3" style="padding:10px;">
                            </div>
                        </div>
                        <div>
                            <div id="tab4">
                                <div id="gridDiv2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        String.prototype.replaceAll = function (search, replace) {
            return this.split(search).join(replace);
        }
        String.prototype.format = function () {
            var formatted = this;
            for (var arg in arguments) {
                formatted = formatted.replaceAll("{" + arg + "}", arguments[arg]);
                //          formatted = formatted.replace("{" + arg + "}", arguments[arg]);
            }
            return formatted;
        };
        $(document).ready(function () {
            var viewModel = kendo.observable({
                bookid: 1,
                Law: "",
                Works: new kendo.data.DataSource({
                    schema: {
                        model: {
                            id: "name",
                            fields: {
                                Value: { type: "string" }
                            }
                        }
                    },
                    data: []
                }),
                listbook: new kendo.data.DataSource({
                    data: [
                    ]
                }),
                onChange: function (data) {
                    try {
                        var treeview = $("#treeview").data("kendoTreeView");
                        treeview.destroy();
                        $("#treeview").html('');
                    }
                    catch (e) { }
                    load("/Home/jsonchapter", {
                        ListBookId: data.data.bookid
                    });
                }
            });
            kendo.bind($("#example"), viewModel);
            $.get('/Home/jsonListBooks', {}, function (data) {
                viewModel.set("listbook", new kendo.data.DataSource({
                    data: data
                }));
                viewModel.set("bookid", 1);
                var dropdownlist = $("#movies").data("kendoDropDownList");
                dropdownlist.value(12);
                load("/Home/jsonchapter", { ListBookId: 12 });
            });
            $(window).resize(function () {
                var height = this.innerHeight;
                $('#example').height(height - 220);//20 is the height of the top content
            });
            $("#vertical").kendoSplitter({
                orientation: "vertical",
                panes: [
                    { collapsible: false, size: "600px" },
                    { collapsible: false, size: "600px" }
                ]
            });
            $("#horizontal").kendoSplitter({
                panes: [
                    { collapsible: true },
                    { collapsible: true }
                ]
            });
            $("#tabs").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
            function NullOrArray(a) {
                if (typeof a === 'undefined')
                    return null;
                if (a === null)
                    return a;
                if ('COD' in a)
                    return [a];
                return a;
            }
            function searchTree(element, COD) {
                if (element.COD === COD) {
                    return element;
                } else if (element.CHAPTER !== null) {
                    var i;
                    var result = null;
                    let arr = NullOrArray(element.CHAPTER);
                    for (i = 0; result === null && i < arr.length; i++) {
                        result = searchTree(arr[i], COD);
                    }
                    return result;
                }
                return null;
            }
            function selectCOD(Id) {
                $.get('/Home/jsonCosts', { Id: Id }, function (data) {
                    viewModel.set("Works", data.Works);
                    viewModel.set("Law", data.Law);
                    var grid = $("#gridDiv").data("kendoGrid");
                    grid.dataSource.data(data.Subworks);
                    var grid2 = $("#gridDiv2").data("kendoGrid");
                    grid2.dataSource.data(data.Popr);
                    if (data.Task !== null) {
                        let blank = $("#Task").html();
                        blank = blank.format(data.Task.Total, data.Task.LaborCost,
                            data.Task.Machine, data.Task.Salary, data.Task.Materials, data.Task.Labor, data.Task.Machinist, data.RSIZE);
                        $("#tab3").html(blank);
                    } else
                        if (data.Material !== null) {
                            let blank = $("#Material").html();
                            blank = blank.format(data.Material.Smetnaya, data.Material.Otpusk);
                            $("#tab3").html(blank);
                        } else
                            if (data.Transport !== null) {
                                let blank = $("#Transport").html();
                                blank = blank.format(data.Transport.Price, data.Transport.Price);
                                $("#tab3").html(blank);
                            };
                });
            }
            function load(s, p) {
                var serviceRoot = "/Home/jsonchapter";
                jQuery("#treeview").kendoTreeView({
                    "autoBind": true, "dataTextField": ["Name"], "loadOnDemand": true,
                    select: function (e) {
                        e.preventDefault();
                        var tree = $('#treeview').data('kendoTreeView');
                        var dataItem = tree.dataItem(e.node);
                        var grid3 = $("#ListGrid").data("kendoGrid");
                        $.get("/Home/jsonCodes", { id: dataItem.id }, function (data) {
                            grid3.dataSource.data(data);
                            selectCOD(data[0].Id);
                        });
                    },
                    "dataSource": {
                        "transport": {
                            "read": function (opt) {
                                opt.data.ListBookId = p.ListBookId;
                                $.get(s, opt.data, function (data) {
                                    opt.success(data);
                                });
                            }
                        },
                        "schema": { "model": {} }
                    }
                });
            }
            function onChange(e) {
                var rows = e.sender.select();
                rows.each(function (e) {
                    var grid = $("#ListGrid").data("kendoGrid");
                    var dataItem = grid.dataItem(this);
                    selectCOD(dataItem.Id);
                    console.log(dataItem);
                });
            };
            $("#ListGrid").kendoGrid({
                dataSource: {
                    schema: {
                        model: {
                            id: "COD"
                        }
                    }
                },
                sortable: true,
                groupable: false,
                scrollable: false,
                selectable: true,
                resizable: true,
                change: onChange,
                id: "COD",
                columns: [{ field: "COD", title: 'Шифр', width: 150 }, { field: "NAME", title: 'Наименование' }]
            });
            $('#gridDiv').kendoGrid({
                sortable: true,
                groupable: false,
                scrollable: false,
                dataBound: function (e) {
                    // get the index of the UnitsInStock cell
                    // iterate the table rows and apply custom row and cell styling
                    var rows = e.sender.tbody.children();
                    for (var j = 0; j < rows.length; j++) {
                        var row = $(rows[j]);
                        var dataItem = e.sender.dataItem(row);
                        if (dataItem.get("U4") == 2 || dataItem.get("OBOSNOV") == 2) {
                            row.addClass("green");
                        }
                        else
                            if (dataItem.get("Unk2") == 65) {
                                row.addClass("blue");
                            }
                    }
                },
                columns: [
                                              /*  { field: "Type", title: 'Type' }, { field: "U3", title: 'U3' }, { field: "Unk2", title: 'Unk2' },
                                                { field: "U4", title: 'U4' },*/ { field: "OBOSNOV", title: 'Шифр' }, { field: "RSIZE", title: 'Ед. Изм.' },
                    { field: "Value", title: 'Норма' }, { field: "Name", title: 'Наименование' }]
            });
            $('#gridDiv2').kendoGrid({
                sortable: true,
                groupable: false,
                scrollable: false,
                columns: [
                    { selectable: true, width: "50px" }, { field: "POPR", title: 'Поправка' }, { field: "NAME", title: 'Условия применения' }, { field: "NUMBER", title: 'Обоснование' }, { field: "Labor", title: 'К труд' }, { field: "Machine", title: 'К маш' }, { field: "Material", title: 'К мт' }
                ]
            });
        });
    </script>
</div>
<script>
</script>
<style>
    #example {
        text-align: left;
    }
    .demo-section {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 0 2em;
    }
    #example .k-listbox {
        width: 90%;
    }
    #example .k-textbox {
        width: 90%;
    }
    .blue {
        color: blue;
    }
    .green {
        color: green;
    }
    #treeview div {
        white-space: normal;// // width: 50px;
    }
</style>
