li {
    color: #000;
    font-size: 11pt;
    font-family: Calibri;
}
.k-tooltip-content p {
    font-size: 13px;
    font-family: Arial, Tahoma;
    margin: 0em 0em 0em 0em;
    text-indent: 0px;
}
p {
    font-size: 14px;
    font-family: Arial, Tahoma;
    margin: 0em 0em 0.4em 0em;
    text-indent: 15px;
}
body {
    font-family: Arial, Tahoma;
    font-size: 12.5px;
    background: #e0e0e0;
    margin: 0px;
    padding: 0px;
}
h6 {
    color: rgba(221, 65, 42, 1);
    display: inline;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    text-transform: uppercase;
    line-height: 30px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    width: auto;
    padding-top: 7px;
    padding-left: 1em;
}
    h6 a {
        color: rgba(221, 65, 42, 1);
        display: inline;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        height: auto;
        text-transform: uppercase;
        line-height: 30px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        width: auto;
        padding-top: 7px;
        text-decoration: none;
    }
        h6 a:after {
            content: "▶";
        }
#h21 {
    font-family: 'Fira Sans', sans-serif;
    color: #555;
    font-size: 48px;
    margin: 0;
    padding: 0;
}
#h31 {
    font-family: 'Fira Sans', sans-serif;
    color: rgba(221, 65, 42, 1);
    font-size: 48px;
    margin: 0;
    padding: 0;
}
.blockheader a:after {
    content: "▶";
}
.blockheader a {
    color: rgba(221, 65, 42, 1);
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 5px;
    text-decoration: none;
}
    .blockheader a:hover {
        font-weight: bold;
        padding-top: 0px;
        padding-bottom: 5px;
        text-decoration: none;
    }
h6 a:hover {
    text-decoration: none;
}
.block {
}
h5 {
    color: #333;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    letter-spacing: -0.96px;
    line-height: 30px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    width: auto;
    padding-top: 7px;
}
h1 {
    color: #333;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    letter-spacing: -0.96px;
    line-height: 30px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    width: auto;
    padding-top: 7px;
}
h2 {
    color: #333;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h3 {
    color: #333;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a {
    color: #336699;
    text-decoration: underline;
}
    a:hover {
        text-decoration: none;
        color: #336699;
    }
img {
    border: none;
}
input {
    vertical-align: middle;
}
.input_field {
    border-bottom-style: none;
    width: 144px;
    height: 22px;
    background-color: #fff;
    border-radius: 4px;
}
.submit_but {
    background: url(/images/but_serch.png);
    width: 23px;
    height: 21px;
    cursor: pointer;
    border-style: none;
}
#wrapper {
    min-width: 980px;
    margin: 0 auto;
}
#header {
    height: 78px;
    background: #fff;
    margin-bottom: 7px;
}
#logo {
    padding-left: 24px;
    padding-top: 12px;
}
#serch_form {
    padding-left: 24px;
}
#reg {
    padding-top: 12px;
    float: right;
    height: 23px;
}
.login {
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    color: #336699;
    /*text-decoration:underline;*/
    float: right;
}
/*
.login {
font-weight:700;
color:#333;
float:right;
display:block;
text-decoration:none;
}
         */
#left_header1 {
    float: left;
}
#right_header {
    float: right;
    padding-right: 24px;
}
#navigation {
    clear: both;
    width: 100%;
    height: 36px;
    background: linear-gradient(top,#2b2b2b,#666666);
    background: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#666666));
    background: -moz-linear-gradient(top,#2b2b2b,#666666);
    background: -o-linear-gradient(top, #2b2b2b, #666666); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2b2b2b, #666666); /* IE10 */
    margin: 0;
    padding: 0;
}
ul.nav-main, ul.nav-main li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav-main {
    position: relative;
    z-index: 1597;
}
    ul.nav-main li:hover > ul {
        visibility: visible;
    }
    ul.nav-main li.hover, ul.nav-main li:hover {
        position: relative;
        z-index: 1599;
        cursor: pointer;
        background: linear-gradient(top,#064666,#2b2b2b);
        background: -webkit-gradient(linear, left top, left bottom, from(#064666), to(#2b2b2b));
        background: -moz-linear-gradient(top,#064666,#2b2b2b);
        background: -o-linear-gradient(top, #064666, #2b2b2b); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #064666, #2b2b2b); /* IE10 */
    }
    ul.nav-main li {
        float: left;
        display: block;
        height: 36px;
        color: #999;
        font: 14px Arial, Helvetica, sans-serif;
        border-right: 1px solid #353535;
    }
        ul.nav-main li a {
            display: block;
            height: 35px;
            color: silver;
            font: 14px Arial, Helvetica, sans-serif;
            text-decoration: none;
            padding: 20px 24px 0 20px;
        }
            ul.nav-main li a:hover {
                color: #fff;
            }
    ul.nav-main .list {
        padding-right: 4px;
        background: url(/images/navigation-arrow.png) no-repeat right top;
    }
    ul.nav-main li ul.nav-sub li {
        border-right: 0 solid #000;
    }
ul.nav-sub {
    width: auto;
    visibility: hidden;
    position: absolute;
    top: 37px;
    left: 0;
    z-index: 1598;
    background: #353535 url(/images/dropdown-list-bg.png) repeat-x left top;
    border-right: 0 solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    padding: 10px;
}
    ul.nav-sub li {
        white-space: nowrap;
        list-style: none;
        display: block;
        height: 27px;
        float: none;
        width: auto;
        border-bottom: 1px solid #5a5a5a;
        background: none;
        padding: 0;
    }
        ul.nav-sub li a {
            list-style: none;
            display: block;
            height: 15px;
            float: none;
            background: none;
            font: 14pt Arial, Helvetica, sans-serif;
            padding: 6px 5px;
        }
fieldset {
    border: 1px solid #ddd;
    margin: 0 0 1em;
    padding: 0 1em 1em;
}
legend {
    font-size: 1.2em;
    font-weight: 700;
}
textarea {
    min-height: 75px;
}
/*
input[type="submit"] {
    font-size: 1.2em;
    padding: 2px;
}
    */
table {
    border: solid 1px #ceced2;
    border-collapse: collapse;
}
    table td {
        border: solid 1px #ceced2;
        padding: 2px;
    }
    table th {
        text-align: left;
        background-color: #005b8b;
        border: solid 1px #006b9b;
        color: #ddd;
        background: 0 to #005b8b;
        padding: 2px;
    }
#footer {
    height: 32px;
    background: #4e4e4e;
}
.spanner {
    float: left;
    width: 10px;
    height: 50px;
}
input[type="text"], input[type="password"], select {
    border: 1px solid #ccc;
    font-size: 1.2em;
    color: #444;
    padding: 2px;
}
/* CSS Document */
ul#cssmenu {
    width: 100%;
    margin: 0;
    border: 0 none;
    padding: 0 0 0 10px;
    list-style: none;
    background: #536980;
    height: 30px;
    /* font: 12px/28px Tahoma, Arial; */
    font: bold 12px/30px Arial,Helvetica,sans-serif;
    /*border-left:#536980 1px solid;*/
    z-index: 100;
    /*height: 14px;*/
    -moz-border-radius: 5px;
    border-radius: 5px;
}
    ul#cssmenu li ul {
        -moz-box-shadow: 0px 4px 7px rgba(0,0,0,0.7); /* Для Firefox */
        -webkit-box-shadow: 0px 4px 7px rgba(0,0,0,0.7); /* Для Safari и Chrome */
        box-shadow: 0px 4px 7px rgba(0,0,0,0.7); /* Параметры тени */
    }
    ul#cssmenu li {
        margin: 0;
        border: 0 none;
        padding: 0;
        float: left;
        display: inline;
        list-style: none;
        position: relative;
        height: 30px;
        z-index: 100;
        padding: 0;
    }
    ul#cssmenu ul {
        margin: 0;
        border: 0 none;
        padding: 0;
        width: 210px;
        list-style: none;
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 100;
    }
        ul#cssmenu ul:after {
            clear: both;
            display: block;
            font: 1px/0px serif;
            content: ".";
            height: 0;
            visibility: hidden;
        }
        ul#cssmenu ul li {
            width: 210px;
            float: left;
            display: block !important;
            display: inline;
        }
    /* Main Menu */
    ul#cssmenu a {
        border: 0px;
        float: none !important;
        float: left;
        display: block;
        background: #536980;
        color: #FFFFFF;
        /*font:  12px/28px Tahoma, Arial;*/
        font: bold 14px/30px Arial,Helvetica,sans-serif;
        text-decoration: none;
        height: auto !important;
        height: 1%;
        padding: 0 16px;
    }
        /* Main Menu Hover */
        ul#cssmenu a:hover,
        ul#cssmenu li:hover a,
        ul#cssmenu li.iehover a {
            color: #ffffff;
            /*border-top:#536980 1px solid;*/
            background: #f26500; /* for non-css3 browsers */
            /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26500 ', endColorstr='#cc5500'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#f26500 ), to(#cc5500)); /* for webkit browsers */
            background: -moz-linear-gradient(top, #f26500, #cc5500); /* for firefox 3.6+ */
            background-image: -o-linear-gradient(#f26500,#cc5500); /* for Opera */
        }
    /* Second Menu */
    ul#cssmenu li:hover li a,
    ul#cssmenu li.iehover li a {
        border-top: 1px solid #FFFFFF;
        float: none;
        background: #536980;
        color: #FFFFFF;
    }
        /* Second Menu Hover */
        ul#cssmenu li:hover li a:hover,
        ul#cssmenu li:hover li:hover a,
        ul#cssmenu li.iehover li a:hover,
        ul#cssmenu li.iehover li.iehover a {
            border-top: 1px solid #FFFFFF;
            color: #ffffff;
            /*border:#cccccc 3px solid;*/
            background: #f26500; /* for non-css3 browsers */
            /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f26500 ', endColorstr='#cc5500'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#f26500 ), to(#cc5500)); /* for webkit browsers */
            background: -moz-linear-gradient(top, #f26500, #cc5500); /* for firefox 3.6+ */
            background-image: -o-linear-gradient(#f26500,#cc5500); /* for Opera */
        }
    ul#cssmenu ul ul {
        display: none;
        position: absolute;
        top: 0;
        left: 170px;
    }
    ul#cssmenu li:hover ul ul,
    ul#cssmenu li.iehover ul ul {
        display: none;
    }
    ul#cssmenu li:hover ul,
    ul#cssmenu ul li:hover ul,
    ul#cssmenu li.iehover ul,
    ul#cssmenu ul li.iehover ul {
        display: block;
    }
li {
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.k-tabstrip-items .k-link, .k-panelbar .k-tabstrip-items .k-link {
    padding: .42em .42em;
}
.k-grid-header th.k-header > .k-link {
    padding: .2em .2em .2em .2em;
}
.k-menu .k-item .k-link {
    font-size: 14px;
}
.k-tabstrip .k-content {
    padding: 0px 0px 0px 0px;
    font-size: 12.5px;
    font-family: Arial;
    border-width: 0px;
}
.k-grid tbody tr td {
    padding: 1px 1px 1px 1px;
}
#tabstrip3, #tabstrip2, #tabstrip {
    background: #fff;
    border-width: 0px;
    padding: 0px 0px 0px 0px;
}
.leftsidebar {
    float: left;
    width: calc(17% - 10px);
    padding-right: 10px;
}
.centerbar {
    float: left;
    width: calc(59% - 8px);
    padding-right: 8px;
}
.widerightsidebar {
    float: right;
    width: 83%;
}
.reportrightsidebar {
    float: right;
    width: calc(83% - 12px);
    padding: 12px;
}
.rightsidebar {
    float: right;
    width: 24%;
}
#mainbody {
    // abox-shadow: 0px 0px 4px 0px #000000;
    width: 1255px;
    // overflow: auto;
    margin: auto;
    background: #fff;
}
#content {
    padding: 10px;
}
div.line {
    color: #d7d7d7;
    margin: 0px;
    padding: 0px;
    height: 2px;
    font-size: 0px;
    background: url('/images/grayblock-hr.gif') repeat-x;
}
/*                          
#menu
{
 background-image: none;//linear-gradient(to bottom, rgba(221, 65, 42, 0.9) 0px, rgba(221, 65, 42, 0.4) 100%);
 background-color:#555;// rgba(231, 68, 44, 1);  
 //border-color: rgba(221, 65, 42, 1); 
}      
.k-link  {
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #eee; 
}
*/
/*
.k-link:visited{
    color: #eee;
}
         */
.customClass {
    margin: 15px;
}
legend {
    /*
font-style: normal;
font-variant: normal;
font-weight: normal;
  */
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
#hint {
    pointer-events: none;
    overflow: hidden;
    display: none;
    position: absolute;
    top: -10000px;
    z-index: 10002;
    left: -10000px;
    box-sizing: content-box;
    border-style: solid;
    border-color: rgb(144, 144, 144);
    padding: 4px;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    border-width: 1px;
    border-radius: 5px;
    background: rgba(240, 240, 240, 0.75);
}
.demo-section > div {
    float: left;
    margin-bottom: 2em;
}
#fieldlist {
    margin: 0;
    padding: 0;
}
    #fieldlist li {
        list-style: none;
        padding-bottom: 0.3em;
        padding-right: 0.3em;
        padding-left: 0.3em;
        text-align: left;
        float: left;
    }
    #fieldlist label {
        display: block;
        padding-bottom: .3em;
        font-weight: bold;
        font-size: 12px;
    }
.prettyprint {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 5px;
}
#fieldlist2 label {
    display: block;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    line-height: 0.5em;
    font-weight: bold;
    font-size: 12px;
}
#fieldlist2 {
    margin: 0;
    padding: 0;
}
    #fieldlist2 li {
        display: inline-block;
        list-style: none;
        padding-bottom: 0.3em;
        padding-right: 0.1em;
        padding-left: 0.4em;
        text-align: left;
    }
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), local('FiraSans-Regular'), url(logofont.txt) format('woff2'), url(logofont.ttf) format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.km-close:after,
.km-close:before {
    content: "\e038";
}
.km-drawer-button:after,
.km-drawer-button:before {
    content: "\E077";
}
.km-settings-button:after,
.km-settings-button:before {
    content: "\e30f";
}
.km-refresh-button:after,
.km-refresh-button:before {
    content: "\e01c";
}
.km-back-button:after,
.km-back-button:before {
    content: "\e322";
}
.k-list-scroller {
    overflow-y: scroll;
}
//http://www.telerik.com/blogs/easy-custom-kendo-ui-mobile-icons-with-font-awesome .pic {
    border: 1px solid #333; /* Граница вокруг блока */
    background-color: #f0f0f0; /* Цвет фона */
    color: navy; /* Цвет подписи */
    padding: 10px; /* Поля вокруг содержимого */
    width: 250px; /* Ширина блока */
    text-align: center; /* Выравнивание контента по центру */
    position: relative; /* Относительное позиционирование */
    left: 50%; /* Выравниваем блок по центру */
    margin-left: -125px; /* Сдвигаем блок влево на половину его ширины */
}
.pic img {
    border: 1px solid #333; /* Рамка вокруг Имаги */
}
.pic p {
    margin: 0; /* Убираем отступы вокруг абзаца */
    padding-top: 5px; /* Расстояние от рисунка до контента */
}
/*
 #menu {
    background-color: rgba(119,168,212,1);
}
    */
.blogblock {
    border-style: solid;
    border-color: #ceced2;
    margin-top: 8px;
    display: inline-block;
    border-width: 1px;
    background: #fff;
    padding: 10px;
    width: calc(100% - 22px);
}
    .blogblock img {
        // -webkit-transform: scale(1); /*Webkit: Scale down image to 0.8x original size*/
        // -moz-transform: scale(0.8); /*Mozilla scale version*/
        // -o-transform: scale(0.8); /*Opera scale version*/
        -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
        -moz-transition-duration: 0.5s; /*Mozilla duration version*/
        -o-transition-duration: 0.5s; /*Opera duration version*/
        max-width: 950px;
        //opacity: 0.7; /*initial opacity of images*/
        margin: 0 10px 5px 0; /*margin between images*/
    }
        .blogblock img:hover {
            // -webkit-transform: scale(1); /*Webkit: Scale up image to 1.2x original size*/
            // -moz-transform: scale(1); /*Mozilla scale version*/
            // -o-transform: scale(1); /*Opera scale version*/
            box-shadow: 0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
            -webkit-box-shadow: 0px 0px 30px gray; /*Safari shadow version*/
            -moz-box-shadow: 0px 0px 30px gray; /*Mozilla shadow version*/
            // opacity: 1;
            max-width: 1440px;
        }
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .tg .tg-s6z2 {
        text-align: center
    }
    .tg .tg-baqh {
        text-align: center;
        vertical-align: top
    }
    .tg .tg-4aw5 {
        background-color: #96fffb;
        text-align: left;
        vertical-align: top
    }
