﻿html {
    position: relative;
    min-height: 100%;
}
body {
    padding-bottom: 60px;
    width:100%;
}
/*Wrapping element 
 Set some basic padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width:100%;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.label {
    color: #337ab7;
}
/* Sticky footer styles */
.footer {
    position: absolute;
    bottom: 10px;
    height: 40px;
}
    .footer .text-muted {
        margin: 0;
        display: inline-block;
    }
.body-content > .row:first-child {
    margin-bottom: 15px;
}
.k-tabstrip ul li.k-item {
    width: 100px;
}
h1 a {
    color: #e0e0e0;
    text-decoration: none;
}
h1 a:hover,
h1 a:active {
    color: #ffffff;
    text-decoration: none;
} 
.img-responsive {
    padding-top: 25px;
}
/* Styling menu toggle button */
.btn-toggle {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
    height: 48px;
}
    .btn-toggle .k-icon {
        opacity: 1;
    }
    .btn-toggle,
    .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
    .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
        box-shadow: none;
        border-radius: 0;
    }
        .btn-toggle .k-i-hbars,
        .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
        .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
            background-position: -80px -32px;
        }
/* Styling menu and header for smaller resolutions */
@media (max-width: 768px) {
    .k-header h1 {
        margin: 0;
        padding: 16px 15px 14px 60px;
        font-size: 18px;
        font-weight: lighter;
    }
    .k-rpanel {
        position: relative;
        box-sizing: border-box;
    }
    .k-rpanel .k-menu {
        float: none;
        display: block;
        box-sizing: border-box;
    }
    .k-rpanel .k-menu .k-item {
        display: block;
        clear: both;
        float: none;
        width: 100%;
    }
}