﻿#mainbody {
    background: rgba(0,0,0,0);
}
#content {
    padding: 0px;
}
.grayblock {
    width: calc(100% - 2px);
    border-style: solid;
    border-color: #ceced2;
    margin-top: 8px;
    display: inline-block;    
    border-width: 1px;  
    margin-bottom: -1px;
}
.grayblock td {    
    border: 0px;
}
.grayblock table {    
    border: 0px;
}
.block {
    width: calc(100% - 8px);
    border-style: solid;
    border-color: #ceced2;
    padding: 3px;
    margin-top: 8px;
    display: inline-block;    
    border-width: 1px;
    background: #fff;
}
/*
#mainbody {
    background: rgba(0,0,0,0);
}
#content {
    padding: 0px;
}
.grayblock {
    width: calc(100% - 2px);
    margin-top: 10px;
    margin-left: 2px;
    display: inline-block;    
    	box-shadow: 0px 0px 3px 0px #777;
        border-radius: 4px;
}
.block {
    width: calc(100% - 10px);
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    margin-top: 10px;
    display: inline-block;    
    background: #fff;
    		box-shadow: 0px 0px 3px 0px #777;
             border-radius: 4px;
}
    */